body {
    background-color: rgb(27, 27, 122);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.836);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}
div {
    text-align: center;
    padding: 8px;
}
#imagem {
    width: 157px;
    height: 157px;
    border-radius: 50%;
}
